#wiki-markup-form {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-right: 10px;
}

#wiki-markup {
    width: 100%;
    height: 75%;
    overflow: auto;
}

#wiki-markup-form #page-title {
    width: 100%;
}

#wiki-markup-form div.error { font-colour: #ff0000;}

#wiki-markup textarea{
	width: 600px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	background-position: bottom right;
	background-repeat: no-repeat;
}